@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  background-color: #dee2e6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  animation: fadein linear 2s;
  -webkit-animation: fadein linear 2s;
  -moz-animation: fadein linear 2s;
  -o-animation: fadein linear 2s;
  -ms-animation: fadein linear 2s;
}

#header {
  background-color: #6c757d;
  color: white;
}

img {
  float: right;
  width: 20%;
  height: 20%;
}

img:hover {
  width: 35%;
  height: 35%;
}

#userfaced {
  margin-left: 45%;
  margin-right: 45%;
}

#input {
  height: 40px;
  width: 72px;
}

#calc {
  height: 40px;
  width: 80px;
}

#result {
  color: green;
  font-size: 140%;
  margin-left: 45%;
  margin-right: 45%;
}

#result2 {
  color: red;
  font-size: 140%;
  margin-left: 45%;
  margin-right: 45%;
}
